<main class="d-flex h-100 align-items-center justify-content-center">
  <div class="p-5 bg-white shadow rounded" style="margin-top: -150px; width: 540px;">


    <h2 class="mb-4 text-center">Login</h2>

    <form action="/login" class="" method="post">
      <div class="mb-3 form-floating">
        <input type="email" name="email" class="form-control form-control-lg" placeholder="Seu e-mail" autocomplete="off">
        <label for="" class="form-label">E-mail</label>
      </div>

      <div class="mb-3">
        <div class="input-group">
          <div class="form-floating">
            <input type="password" name="password" class="form-control form-control-lg" placeholder="Sua senha" autocomplete="off">
            <label for="" class="form-label">Senha</label>
          </div>
          <button class="btn btn-primary" type="button">
            <i class="bi bi-eye-fill"></i>
          </button>
        </div>
      </div>

      <button class="btn btn-lg btn-primary w-100 mb-4">
        Entrar
      </button>

      {{!-- <a href="" class="link-underline link-underline-opacity-0">Esqueci a Senha</a> --}}
    </form>

    {{#if errorMessage}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ errorMessage }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}
  </div>

  <script>
    const btn = document.querySelector('button[type="button"]');
    const input = document.querySelector('input[type="password"]');

    btn.addEventListener('click', () => {
      if (input.type === 'password') {
        input.type = 'text';
        btn.innerHTML = '<i class="bi bi-eye-slash-fill"></i>';
      } else {
        input.type = 'password';
        btn.innerHTML = '<i class="bi bi-eye-fill"></i>';
      }
    });
  </script>
</main>