<main>
  {{> navbar}}

  <section class="flex justify-center">
    <form class="bg-neutral-900 px-6 py-10 rounded-lg flex flex-col gap-y-4 w-1/3">
      <input class="rounded px-2 py-3" type="email" placeholder="Email">
      <input class="rounded px-2 py-3" type="password" placeholder="Senha">
      <button class="rounded px-2 py-3 bg-blue-700 text-white font-bold">Login</button>
    </form>
  </section>
</main>