<nav class="flex items-center justify-between py-4 px-2">
  <div class="flex items-center gap-x-3">
    <img class="w-[75px]" src="/static/images/logo.png">
    <span class="text-xl font-bold">Locadora Ibiapaba</span>
  </div>
  <div>
    <ul class="flex items-center gap-x-10">
      <li>
        <a href="">Alugueis</a>
      </li>
      <li>
        <a href="">Veículos</a>
      </li>
      <li>
        <a href="/admin/costumer">Clientes</a>
      </li>
      <li>
        <a href="">Administração</a>
      </li>
    </ul>
  </div>
</nav>