<footer class="mt-10 p-20 bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%">
  <p class="text-5xl text-center text-white font-extrabold">Colocar um Footer Massa aqui</p>
</footer>