<nav class="flex items-center justify-between py-4 px-2">
  <div>
    <img src="" alt="adasd">
  </div>
  <div>
    <ul class="flex items-center gap-x-10">
      <li>
        <a href="">Início</a>
      </li>
      <li>
        <a href="">Carros</a>
      </li>
      <li>
        <a href="">Contato</a>
      </li>
      <li>
        <button class="bg-neutral-800 text-white py-1 px-6 rounded">Login</button>
      </li>
    </ul>
  </div>
</nav>